.main_layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_layout h2,
.main_layout p,
.main_layout button {
    text-align: center;
}

.main_layout h2 {
    max-width: 20rem;
    font-size: 3rem;
    margin-top: 3rem;
}

.main_layout p {
    color: rgb(170, 173, 178);
    font-size: 1.2rem;
    margin: 1.5rem 0;
    max-width: 20rem;
}

.main_layout button {
    padding: 1.2rem 3rem;
    background-color: rgb(0, 88, 218);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border-radius: 1.5rem;
}

.section_TV {
    text-align: center;
}

.section_TV img {
    width: 30rem;
    height: 23rem;
}