/* 390 × 844 (iPhone 12) */
/* É o mais atual, confortável e perfeito pra desenhar o layout mobile. */


/* CSS base = mobile */


/* Tablet */
@media (min-width: 600px) {

    .header_layout {
        justify-content: space-between;
        line-height: 6rem;
    }

    .header_nav_li {
        font-size: 4.4rem;
        gap: 2rem;
    }

    .header_h1 {
        font-size: 2.6rem;
    }

    .main_layout h2 {
        max-width: 40rem;
        font-size: 6rem;
        margin-top: 6rem;
    }

    .main_layout p {
        color: rgb(170, 173, 178);
        font-size: 2.4rem;
        margin: 3rem 0;
        max-width: 40rem;
    }

    .main_layout button {
        padding: 2.4rem 6rem;
        font-size: 2.4rem;
        border-radius: 3rem;
    }

    .section_TV img {
        width: 50rem;
        height: 40rem;
    }
}

/* Desktop */
@media (min-width: 900px) {
    .header_layout {
        justify-content: space-between;
        line-height: 12rem;
    }

    .header_nav_li {
        font-size: 6.8rem;
        gap: 4rem;
    }

    .header_h1 {
        font-size: 4.2rem;
    }

    .main_layout h2 {
        max-width: 80rem;
        font-size: 10rem;
        margin-top: 10rem;
    }

    .main_layout p {
        font-size: 4.8rem;
        margin: 5rem 0;
        max-width: 60rem;
    }

    .main_layout button {
        padding: 4rem 8rem;
        font-size: 4rem;
        border-radius: 5rem;
    }

    .section_TV img {
        width: 80rem;
        height: 60rem;
    }
}

/* Desktop grande */
@media (min-width: 1200px) {}